canvas {
    position: fixed;
    left: 0px;
    top: 0px;
}

.toolbox {
    position: fixed;
    left: 910px;
    top: 10px;
    width: 72px;
}

    .toolbox img.tool {
        float: left;
        cursor: pointer;
    }

        .toolbox img.tool.active {
            opacity: 0.6;
        }

        .toolbox img.tool:hover {
            opacity: 0.6;
        }

#second-toolbox {
    left:1000px;
}

#logo {
    position: fixed;
    bottom: 0;
    right: 0;
  }